<!DOCTYPE html>
<html>
<head>
  <title>Bottles | <%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <header>
      <h1><%= link_to "Bottles", home_path %></h1>
      <nav class="round">
        <ul>
            <li><%= link_to "Your messages", userprofile_path %></li>
          </ul>
      </nav>
    </header>
  <section class="container">
  <%= yield %>
  </section>
  </div>
</body>
</html>
