<!DOCTYPE html>
<html>
<head>
  <title>Bottles | <%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

      <div class="container">
        <div id="header">
          <div class="row">
        <div class="span4">
        <h1><%= link_to "Bottles", home_path %></h1>
        </div>
        <div class="span4 offset4">
          <div id="nav-top">
          <ul class="unstyled">
            <h3>
            <li><%= link_to "Your messages", userprofile_path %></li>
            </h3>
          </ul>
          </div>
        </div>
        </div>
        </div>

  <%= yield %>
  </div>

</body>
</html>
